p {
font-weight: lighter;
font-size: 24pt;
}
h2 {
color: pink;
text-align: center;
text-shadow: 2px 2px 5px blue;
background-color: #FF C0 CB	;
background-image:(left.png) repeat-y; 
background-image:(right.png) repeat-x;  
}
