p {
font-weight: 100;
font-size: 24pt;
}
h2 {
color: black;
text-align: center;
text-shadow: 2px 2px 5px blue;
background-color: #DEB887	;
background-image: url(left.png) repeat-y; 
background-image: url(right.png) repeat-x;  
}
